
numpy
pandas
setuptools
streamlit>=1.35.0
altair<5
# Finance data
yfinance

# Machine Learning
scikit-learn
torch
torchvision
torchaudio
neuralprophet

# Visualization
matplotlib
plotly

# Utilities
pillow
python-dotenv